# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/
publish/

# Logs
*.log

# ASP.NET
appsettings.Development.json
appsettings.Local.json

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

# Test results
TestResult*/
*.coverage
*.coveragexml

# Frontend (React)
node_modules/
dist/
build/
angular-GameStore/


# Others
*.DS_Store
Thumbs.db
